@font-face {
    font-family: 'fjalla_oneregular';
    src: url('../fonts/fjallaone-regular-webfont.woff2') format('woff2'),
		 url('../fonts/fjallaone-regular.ttf') format('ttf'),
         url('../fonts/fjallaone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
html, body {
  height:100%;
}
body {
  background: $black;
  font-family:'fjalla_oneregular', sans-serif;
  overflow: hidden;
  margin:0;
  padding:0;
}
.bdy {
  position: absolute;;
}
.logo {
  width:80px;
  height:200px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
.logo object {
  width: 100%;
  height: auto;
}
.loader {
  @include on-circle($item-count: 10, $circle-size: 10em, $item-size: 1em);
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  position:absolute;
  /*animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;*/
}
