@media only screen and (max-width: 500px), only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	#top, #bottom, #left, #right {
    display: none;
  }
  .slide {
    padding:15px;
    position: relative;
    width: -webkit-calc(100vw - 15px);
    width:    -moz-calc(100vw - 15px);
    width:         calc(100vw - 15px);
    height: -webkit-calc(100vh - 15px);
    height:    -moz-calc(100vh - 15px);
    height:         calc(100vh - 15px);
  }
  .slide {
    padding:15px;
  }
  .slider-nav {
    right:15px;
  }
}
